html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2.2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1.2em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b, strong {
  font-weight: bolder
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1.3em;
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 74%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.14;
  margin: 0;
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: 0.32em 0.73em 0.620em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro';
}

a {
  font-size: 0.90rem;
  list-style: none;
}

.head-container {
  background-image: url(images/pic_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#pricing {
  background-image: url(images/pic_2.jpg);
}

#courses {
  background-image: url(images/pic_3.jpg);
}

/* hamburger */

.iconMenu::before {
  content: "\e911";
  font-size: 2.1rem;
}

.iconMenu {
  font-family: 'icomoon';
  font-size: 2rem;
  color: white;
}

.hero-title {
  font-size: 8rem;
}

@media only screen and (max-width: 768px) {
  .head-container {
    background-position: 50% 0;
  }

  .hero-title {
    font-size: 6rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero-title {
    font-size: 3.5rem;
    padding-bottom: 5rem;
  }

  .head-container {
    background-position: 45% 0;
  }
}

.under-title {
  margin-top: -6rem;
}

.profile-name {
  font-size: 1.1rem;
}

.profile-info {
  font-size: 0.9rem;
  line-height: 0.3rem;
}

.mybtn {
  font-size: 1rem;
  background-color: #C271FF;
  border-radius: 22px;
  width: 190px;
}

.purple-learn {
  color: #C271FF;
}

.carousel-section {
  background-color: #C271FF;
}

.carousel-pad {
  padding: 6rem;
}

.carousel-text p {
  max-width: 751px;
  font-size: 1.3rem;
}

.card {
  border: none;
}

.membership {
  background-color: #071629;
}

[class^="icon"], [class*=" icon"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.2rem;
  color: white;
}

.iconMenu-facebook::before {
  content: "\e908";
}

.iconMenu-twitter::before {
  content: "\e90f";
}

.iconMenu-instagram::before {
  content: "\e90a";
}

.iconCheck::before {
  content: "\e905";
  color: #82D24F;
}

.iconSearch::before {
  content: "\e912";
}

.social-icons a:hover {
  text-decoration: none;
}

footer p {
  font-size: 0.81rem;
  opacity: 0.41;
}

/* pricing */
.mynav-item a {
  color: #C271FF;
}

.mynav-item a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

@media only screen and (max-width: 576px) {
  .pricing-hero h2 {
    font-size: 1.4rem;
  }

  .smile {
    width: 18%;
  }

  .school-logo {
    width: 40%;
  }
}

.pricing-hero h1 {
  font-size: 4rem;
}

#mybtn-price {
  width: 150px;
}

.m-price {
  font-size: 0.8rem;
  opacity: 0.4;
}

.faq h2 {
  font-size: 5rem;
}

.faq p {
  font-size: 1rem;
  opacity: 0.6;
}

/* courses */
.courses-hero h2 {
  font-family: Coiny;
  line-height: 1.6rem;
}

.courses-dropdown {
  background-color: #C271FF;
}

.ph::placeholder {
  color: white;
  font-size: 1.2rem;
  opacity: 0.8;
}

.search-form {
  background-color: #d89df9;
  border-bottom: white;
}

.above-box {
  font-size: 0.9rem;
}

main h5 {
  opacity: 0.3;
}
